@define-color bg_dim #1e2326;
@define-color bg0 #272e33;
@define-color bg1 #2e383c;
@define-color bg2 #374145;
@define-color bg3 #414b50;
@define-color bg4 #495156;
@define-color bg5 #4f5b58;
@define-color bg_visual #4c4743;
@define-color bg_red #493b40;
@define-color bg_green #3c4841;
@define-color bg_blue #384b55;
@define-color bg_yellow #45443c;

@define-color fg #d3c6aa;
@define-color red #e67e80;
@define-color orange #e69875;
@define-color yellow #dbbc7f;
@define-color green #a7c080;
@define-color aqua #83c092;
@define-color blue #7fbbb3;
@define-color purple #d699b6;

@define-color grey0 #7a8478;
@define-color grey1 #859289;
@define-color grey2 #9da9a0;

* {
    /* Installing `otf-font-awesome` is required for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

/* > The bar itself */
window#waybar {
    background-color: @bg_dim;
    color: @fg;
    transition-property: background-color;
    transition-duration: .5s;
}

/* > Buttons */
button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}
button:hover {
    background: inherit;
    box-shadow: inset 0 -2px @fg;
}

/* A lot of things here */
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#idle_inhibitor {
    padding: 0 10px;
    color: @fg;
    transition-property: background-color;
    transition-duration: .5s;
}

/* > Workspaces */
#workspaces button {
    padding: 0 5px;
    color: @fg;
}

#workspaces button.active {
    background-color: @bg0;
    box-shadow: inset 0 -3px @fg;
}

#workspaces button.urgent {
    background-color: @red;
    color: @bg_red;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* > Battery 
   >- Shows battery level. */
#battery {
    background-color: @bg_dim;
    color: @fg;
}
/* >> Charging */
#battery.charging, #battery.plugged {
    background-color: @green;
    color: @bg_green
}
/* >> Other */
/* --- Blinking animation */
@keyframes blink {
    to {
        background-color: white;
        color: @red;
    }
}
/* --- When the battery is too low 
   -- and not charging: */
#battery.critical:not(.charging) {
    background-color: @red;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Something, I don't know what this does. */
label:focus {
    background-color: black;
}

/* > Idle inhibitor
   >- Can inhibit idle behavior such as screen blanking, locking, and
     screensaving, also known as "presentation mode". */
#idle_inhibitor {
    background-color: @bg_dim;
}
#idle_inhibitor.activated {
    background-color: @fg;
    color: @bg_dim
}

/* > Pulseaudio */
#pulseaudio {
    background-color: @red;
    color: @bg_red;
}
#pulseaudio.muted {
    background-color: @bg_dim;
    color: @red;
}

/* > Network */
#network {
    background-color: @orange;
    color: @bg_red;
}
#network.disconnected {
    background-color: @bg_dim;
    color: @orange;
}

/* > CPU 
   >- Shows CPU load. */
#cpu {
    background-color: @yellow;
    color: @bg_yellow;
}

/* > Memory */
#memory {
    background-color: @green;
    color: @bg_green;
}

/* > Temperature 
   >- Shows the temperature of a thermal zone in /sys/class/thermal/ */
#temperature {
    background-color: @aqua;
    color: @bg_blue;
}
#temperature.critical {
    background-color: @aqua;
    color: @bg0;
}

/* > Backlight */
#backlight {
    background-color: @blue;
    color: @bg_blue;
}

/* > Tray 
   >- For applets and such. */
#tray {
    background-color: @bg_dim;
    color: @fg;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @bg1;
    color: @fg;
}

/* Unused below ↓ */
/* > Disk 
   >- Shows partition and file system information. */
#disk {
    background-color: @bg_visual;
}

/* > Pipewire audio
   >- This unchanged as I use PulseAudio. */
#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}
#wireplumber.muted {
    background-color: #f53c3c;
}
