Xft.rgba:      rgba
Xft.antialias: 1
Xft.hinting:   1
Xft.autohint:  0
Xft.hintstyle: hintmedium
Xft.dpi:       96

#define WINDOWGEOMETRY 90x20
! xterm
xterm.boldMode: true
xterm*dynamiccolors:      true
xterm*utf8:               2
xterm*geometry:           WINDOWGEOMETRY
xterm*visualBell:         off
xterm*highlightSelection: true
!xterm*background:      lightblack
!xterm*foreground:      lightblue
!xterm*colorMode:       on
!xterm*colorBD:         lightcyan
!xterm*colorBDMode:     on
!xterm*colorUL:         white
!xterm*colorULMode:     on
!xterm*scrollTtyOutput: false
!xterm*scrollKey:       true
xterm*scrollBar:       false
xterm*faceName: Jetbrains\ Mono-10

! Still in old colorscheme :(, will add later
! special
*.foreground:   #d8caac
*.background:   #232a2e
*.cursorColor:  #d8caac

! black
*.color0:       #868d80
*.color8:       #868d80

! red
*.color1:       #e68183
*.color9:       #e68183

! green
*.color2:       #a7c080
*.color10:      #a7c080

! yellow
*.color3:       #d9bb80
*.color11:      #d9bb80

! blue
*.color4:       #89beba
*.color12:      #89beba

! magenta
*.color5:       #d3a0bc
*.color13:      #d3a0bc

! cyan
*.color6:       #87c095
*.color14:      #87c095

! white
*.color7:       #d8caac
*.color15:      #d8caac
